
body {
    background-color:#6852a5;
    overflow-x: hidden;
}
.PORTAL{
    width: 500px;
    margin-left: 575px;
    margin-top: -100px;
    border: none;
}
.PORTAL:hover{
    transform: none;
}
header{
    background-color: #9c7bf8;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.250);
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid 1px rgba(255, 255, 255, 0.432);
}

.geral0{
    display: flex;
    justify-content: center;
    background-color: #886cd6;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.103);
    border: solid 1px rgba(255, 255, 255, 0.432);
    height: 600px;
}

.geral{
    display: flex;
    justify-content: center;
    background-color: #886cd6;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.103);
    border: solid 1px rgba(255, 255, 255, 0.432);
    height: 600px;
 
}   
.geral2{
    height: 550px;
    
}
.texto{
    scale: 150%;
    margin-left: 125px;
}
.int{
    width: 550px!important;
    margin-right: 50px;
}
img{
    display: flex;
    width: 220px;
    margin: 10px;
    flex-direction: column;
    border: solid 1px rgba(255, 255, 255, 0.144);
    border-radius: 15px;
    margin-top: 50px;

}
img:hover{
    transform: scale(1.06);
}
.imgV{
    margin-left: 15px;
}
video{
    width: 150px;
    border-radius: 15px;
    margin:35px;
    margin-top: 100px !important;
}
video:hover{
    transform: scale(1.05);
}


h1{
    font-family: Aileron;
    color: white;
}

h2{
    width: 250px;
    margin-left: -25px;
    font-family: Aileron;
    color: white;
}
.t1{
    margin-left: -35px;
}
.t2{
    margin-left: -50px;
}
.t3{
    margin-left: 10px;
}
.t4{
    margin-left: -75px;
}

.geral2{
    display: flex;
    justify-content: center;
    background-color: #886cd6;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.103);
    border: solid 1px rgba(255, 255, 255, 0.432);
}

.pt1{
    margin-left: 150px;
   }

   .parte02V{
    
    margin: 0 !important;
   }



@media (min-width: 370px) and (max-width: 449px){
    
    body{
        overflow-x: hidden;
    }
    .PORTAL{
        margin: 0;
        margin-top: -50px;
        margin-left: 60px;
        width: 250px;
        justify-content: center!important;
    }
    .geral0{
            width:390px;
            height: 250px;
        
    }
    .geral{
        width:390px;
        height: 800px;
    }
  .int{
        width: 350px !important;
        margin-top: 25px !important;
        margin-left: -250px;

    }
 .img{
    scale: 50%;
    }
 .img1{
  scale: 50%;
        }
  .imgV{
 scale: 50%;
            }
h2{
    scale: 60%;
}
h1{
    scale: 75%;
}

    .geral2{
        width:390px;
        height: 750px;
    }
   header{
    width: 390px;
   }
   

   .pt1{
    margin-top: 250px;
    margin-right: -435px;
    margin-left: 100px ;
   }
   .t1{
    margin-left: -5px;
    margin-top: -85px;
   }


   .pt2{
    margin-top: -100px;
    margin-left: -10px;
   }
   .t2{
    margin-top: -85px;
    margin-left: -10px;
   }


   .pt3{
    margin-top: -100px;
    margin-left: -250px;
   }
   .t3{
    margin-top: -85px;
    margin-left: 15px;
   }



   .pt4{
    margin-top: 250px;
    margin-left: -445px;
   }
   .t4{
    margin-top: -85px;
    margin-left: -25px;
   }



   video{
    scale: 60%;
}

.parte01V{
    margin-left: 300px;
    margin-right: 660px;
    margin-top: -45px;
   }

   .parte02V{
    margin-top: -45px !important;
    margin-right: -10px !important;
    margin-left: -460px !important;
   }

   .parte03V{
    margin-top: 300px;
    margin-right: 245px;
   }



   .parte04V{   
    margin-left: -455px;
    margin-right: 1080px;
    margin-top: 300px !important;

   }
   

   .Poster{
    width: 450px;
   }
   .Posterr{
    width: 10px;
   }
}



