
body {
    background-color:#6852a5;
    overflow-x: hidden;
}
.PORTAL{
    width: 500px;
    margin-left: 550px;
    margin-top: -100px;
    border: none;
}
.PORTAL:hover{
    transform: none;
}
header{
    background-color: #9c7bf8;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.250);
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid 1px rgba(255, 255, 255, 0.432);
}
    
.geral{
    display: flex;
    justify-content: center;
    background-color: #886cd6;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.103);
    border: solid 1px rgba(255, 255, 255, 0.432);
    height: 600px;
 
}   
.geral2{
    height: 550px;
    
}
.texto{
    scale: 150%;
    margin-left: 125px;
}
img{
    display: flex;
    width: 220px;
    margin: 10px;
    flex-direction: column;
    border: solid 1px rgba(255, 255, 255, 0.144);
    border-radius: 15px;
    margin-top: 50px;

}
img:hover{
    transform: scale(1.06);
}
.imgV{
    margin-left: 15px;
}
video{
    width: 150px;
    border-radius: 15px;
    margin:35px;
    margin-top: 100px !important;
}


h1{
    font-family: Aileron;
    color: white;
}

h2{
    width: 250px;
    margin-left: -25px;
    font-family: Aileron;
    color: white;
}
.t1{
    margin-left: -35px;
}
.t2{
    margin-left: -50px;
}
.t3{
    margin-left: 10px;
}
.t4{
    margin-left: -75px;
}

.geral2{
    display: flex;
    justify-content: center;
    background-color: #886cd6;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.103);
    border: solid 1px rgba(255, 255, 255, 0.432);
}

.pt1{
    margin-left: 150px;
   }

   .parte02V{
    
    margin: 0 !important;
   }



@media (min-width: 360px) and (max-width: 449px){
    
    body{
        overflow-x: hidden;
    }
    .PORTAL{
        margin-left: 230px;
    }
    .geral{
        width:920px;
        height: 1000px;
    }
    .img{
        width: 100px;
    }

    .geral2{
        width:920px;
        height: 900px;
    }
   header{
    width: 920px;
   }
   .pt1{
    margin-top: 450px;
    margin-right: -435px;
   }
   .pt4{
    margin-top: 450px;
    margin-left: -445px;
   }
   .parte04V{
    margin-top: 430px;
    margin-left: -455px;
   }
   .parte01V{
    margin-top: 430px;
    margin-right: -445px;
   }
   .Poster{
    width: 450px;
   }

   .Posterr{
    width: 450px;
   }

}





@media (min-width: 450px) and (max-width: 560px){
    img{    
        width: 50px;
    }
.PORTAL{
    width: 350px;
    margin-top: -100px !important;
    margin-left: 80px;

}
.texto{
    scale: 60%;
    margin-left: 20px;
}

}


@media (min-width: 560px) and (max-width: 759px){
    img{    
        width: 80px;
    }
.PORTAL{
    width: 350px;
    margin-top: -100px !important;
    margin-left: 160px;

}
.texto{
    scale: 80%;
    margin-left: 50px;
}

}


@media (min-width: 760px) and (max-width: 900px){
    img{    
        width: 110px;
    }
.PORTAL{
    width: 400px;
    margin-top: -100px !important;
    margin-left: 100px;

}
.texto{
    scale: 80%;
    margin-left: 50px;
}

}

@media (min-width: 900px) and (max-width: 1200px){
    
    img{
        width: 150px;
    }
    .PORTAL{
        margin-top: -100px !important;
        margin-left: 180px;
    
    }
    .texto{
        scale: 100%;
        margin-left: 65px;
    }
}

@media (min-width: 1200px) and (max-width: 1310px){
    img{
        width: 130px;
    }

    .PORTAL{
        margin-top: -100px !important;
    }
    
    .texto{
        scale: 100%;
        margin-left: 65px;
    }

}
